:root {
  --boros-primitive-colors-water-50: #ebeff5;
  --boros-primitive-colors-water-100: #dae1ec;
  --boros-primitive-colors-water-200: #bfc8df;
  --boros-primitive-colors-water-300: #9dafcd;
  --boros-primitive-colors-water-400: #7b94bd;
  --boros-primitive-colors-water-500: #5b749d;
  --boros-primitive-colors-water-600: #415981;
  --boros-primitive-colors-water-700: #374b6d;
  --boros-primitive-colors-water-800: #2b3b55;
  --boros-primitive-colors-water-900: #090d18;
  --boros-primitive-colors-water-200-alpha-10: #bfc8df1a;
  --boros-primitive-colors-water-200-alpha-5: #bfc8df0d;
  --boros-primitive-colors-water-200-alpha-15: #bfc8df26;
  --boros-primitive-colors-water-300-alpha8: #9dafcd14;
  --boros-primitive-colors-water-700-alpha30: #374b6d4d;
  --boros-primitive-colors-mono-50: #f2f2f2;
  --boros-primitive-colors-mono-100: #dedede;
  --boros-primitive-colors-mono-200: #b9babe;
  --boros-primitive-colors-mono-300: #828282;
  --boros-primitive-colors-mono-400: #717071;
  --boros-primitive-colors-mono-500: #555555;
  --boros-primitive-colors-mono-600: #464040;
  --boros-primitive-colors-mono-700: #363232;
  --boros-primitive-colors-mono-800: #292929;
  --boros-primitive-colors-mono-900: #1d1b1d;
  --boros-primitive-colors-mono-white: #ffffff;
  --boros-primitive-colors-mono-black: #000000;
  --boros-primitive-colors-mono-black-alpha80: #000000cc;
  --boros-primitive-colors-amber-alpha10: #efb54b1a;
  --boros-primitive-colors-amber-alpha20: #efb54b33;
  --boros-primitive-colors-amber-alpha30: #efb54b4d;
  --boros-primitive-colors-amber-alpha40: #efb54b66;
  --boros-primitive-colors-amber-alpha50: #efb54b80;
  --boros-primitive-colors-amber-alpha60: #efb54b99;
  --boros-primitive-colors-amber-alpha70: #efb54bb3;
  --boros-primitive-colors-amber-alpha80: #efb54bcc;
  --boros-primitive-colors-amber-alpha90: #efb54be6;
  --boros-primitive-colors-amber-solid: #efb54b;
  --boros-primitive-colors-red-alpha10: #dd54531a;
  --boros-primitive-colors-red-alpha20: #dd545333;
  --boros-primitive-colors-red-alpha30: #dd54534d;
  --boros-primitive-colors-red-alpha40: #dd545366;
  --boros-primitive-colors-red-alpha50: #dd545380;
  --boros-primitive-colors-red-alpha60: #dd545399;
  --boros-primitive-colors-red-alpha70: #dd5453b3;
  --boros-primitive-colors-red-alpha80: #dd5453cc;
  --boros-primitive-colors-red-alpha90: #dd5453e6;
  --boros-primitive-colors-red-solid: #dd5453;
  --boros-primitive-colors-purple-alpha10: #6079ff1a;
  --boros-primitive-colors-purple-alpha20: #6079ff33;
  --boros-primitive-colors-purple-alpha30: #6079ff4d;
  --boros-primitive-colors-purple-alpha40: #6079ff66;
  --boros-primitive-colors-purple-alpha50: #6079ff80;
  --boros-primitive-colors-purple-alpha60: #6079ff99;
  --boros-primitive-colors-purple-alpha70: #6079ffb3;
  --boros-primitive-colors-purple-alpha80: #6079ffcc;
  --boros-primitive-colors-purple-alpha90: #6079ffe6;
  --boros-primitive-colors-purple-alpha15: #6079ff26;
  --boros-primitive-colors-purple-solid: #6079ff;
  --boros-primitive-colors-sky-alpha10: #7ab7ff1a;
  --boros-primitive-colors-sky-alpha20: #7ab7ff33;
  --boros-primitive-colors-sky-alpha30: #7ab7ff4d;
  --boros-primitive-colors-sky-alpha40: #7ab7ff66;
  --boros-primitive-colors-sky-alpha50: #7ab7ff80;
  --boros-primitive-colors-sky-alpha60: #7ab7ff99;
  --boros-primitive-colors-sky-alpha70: #7ab7ffb3;
  --boros-primitive-colors-sky-alpha80: #7ab7ffcc;
  --boros-primitive-colors-sky-alpha90: #7ab7ffe6;
  --boros-primitive-colors-sky-solid: #7ab7ff;
  --boros-primitive-colors-emerald-alpha10: #07c1b61a;
  --boros-primitive-colors-emerald-alpha20: #07c1b633;
  --boros-primitive-colors-emerald-alpha30: #07c1b64d;
  --boros-primitive-colors-emerald-alpha40: #07c1b666;
  --boros-primitive-colors-emerald-alpha50: #07c1b680;
  --boros-primitive-colors-emerald-alpha60: #07c1b699;
  --boros-primitive-colors-emerald-alpha70: #07c1b6b3;
  --boros-primitive-colors-emerald-alpha80: #07c1b6cc;
  --boros-primitive-colors-emerald-alpha90: #07c1b6e6;
  --boros-primitive-colors-emerald-solid: #07c1b6;
  --boros-primitive-colors-guava-alpha10: #ff93931a;
  --boros-primitive-colors-guava-alpha20: #ff939333;
  --boros-primitive-colors-guava-alpha30: #ff93934d;
  --boros-primitive-colors-guava-alpha40: #ff939366;
  --boros-primitive-colors-guava-alpha50: #ff939380;
  --boros-primitive-colors-guava-alpha60: #ff939399;
  --boros-primitive-colors-guava-alpha70: #ff9393b3;
  --boros-primitive-colors-guava-alpha80: #ff9393cc;
  --boros-primitive-colors-guava-alpha90: #ff9393e6;
  --boros-primitive-colors-guava-alpha15: #ff939326;
  --boros-primitive-colors-guava-solid: #ff9393;
  --boros-primitive-colors-guava-alpha25: #ff939340;
  --boros-primitive-colors-jade-alpha10: #51a69a1a;
  --boros-primitive-colors-jade-alpha50: #51a69a80;
  --boros-primitive-colors-jade-alpha20: #51a69a33;
  --boros-primitive-colors-jade-alpha30: #51a69a4d;
  --boros-primitive-colors-jade-alpha40: #51a69a66;
  --boros-primitive-colors-jade-alpha60: #51a69a99;
  --boros-primitive-colors-jade-alpha70: #51a69ab3;
  --boros-primitive-colors-jade-alpha80: #51a69acc;
  --boros-primitive-colors-jade-alpha90: #51a69ae6;
  --boros-primitive-colors-jade-solid: #51a69a;
  --boros-primitive-colors-grass-alpha10: #1be3c21a;
  --boros-primitive-colors-grass-alpha20: #1be3c233;
  --boros-primitive-colors-grass-alpha30: #1be3c24d;
  --boros-primitive-colors-grass-alpha40: #1be3c266;
  --boros-primitive-colors-grass-alpha50: #1be3c280;
  --boros-primitive-colors-grass-alpha60: #1be3c299;
  --boros-primitive-colors-grass-alpha70: #1be3c2b3;
  --boros-primitive-colors-grass-alpha80: #1be3c2cc;
  --boros-primitive-colors-grass-alpha90: #1be3c2e6;
  --boros-primitive-colors-grass-alpha15: #1be3c226;
  --boros-primitive-colors-grass-solid: #1be3c2;
  --boros-primitive-colors-gold-alpha10: #f0ce741a;
  --boros-primitive-colors-gold-alpha20: #f0ce7433;
  --boros-primitive-colors-gold-alpha30: #f0ce744d;
  --boros-primitive-colors-gold-alpha40: #f0ce7466;
  --boros-primitive-colors-gold-alpha50: #f0ce7480;
  --boros-primitive-colors-gold-alpha60: #f0ce7499;
  --boros-primitive-colors-gold-alpha70: #f0ce74b3;
  --boros-primitive-colors-gold-alpha80: #f0ce74cc;
  --boros-primitive-colors-gold-alpha90: #f0ce74e6;
  --boros-primitive-colors-gold-alpha100: #f0ce74;
  --boros-primitive-colors-gold-alpha8: #f0ce7414;
  --boros-primitive-colors-asset-bnb-alpha10: #f0b90b1a;
  --boros-primitive-colors-asset-bnb-alpha20: #f0b90b33;
  --boros-primitive-colors-asset-bnb-alpha30: #f0b90b4d;
  --boros-primitive-colors-asset-bnb-alpha40: #f0b90b66;
  --boros-primitive-colors-asset-bnb-alpha50: #f0b90b80;
  --boros-primitive-colors-asset-bnb-alpha60: #f0b90b99;
  --boros-primitive-colors-asset-bnb-alpha70: #f0b90bb3;
  --boros-primitive-colors-asset-bnb-alpha80: #f0b90bcc;
  --boros-primitive-colors-asset-bnb-alpha90: #f0b90be6;
  --boros-primitive-colors-asset-bnb-alpha100: #f0b90b;
  --boros-primitive-colors-asset-hype-alpha10: #97fce41a;
  --boros-primitive-colors-asset-hype-alpha20: #97fce433;
  --boros-primitive-colors-asset-hype-alpha30: #97fce44d;
  --boros-primitive-colors-asset-hype-alpha40: #97fce466;
  --boros-primitive-colors-asset-hype-alpha50: #97fce480;
  --boros-primitive-colors-asset-hype-alpha60: #97fce499;
  --boros-primitive-colors-asset-hype-alpha70: #97fce4b3;
  --boros-primitive-colors-asset-hype-alpha80: #97fce4cc;
  --boros-primitive-colors-asset-hype-alpha90: #97fce4e6;
  --boros-primitive-colors-asset-hype-solid: #97fce4;
  --boros-primitive-colors-asset-usdt-alpha10: #53ae941a;
  --boros-primitive-colors-asset-usdt-alpha20: #53ae9433;
  --boros-primitive-colors-asset-usdt-alpha30: #53ae944d;
  --boros-primitive-colors-asset-usdt-alpha40: #53ae9466;
  --boros-primitive-colors-asset-usdt-alpha50: #53ae9480;
  --boros-primitive-colors-asset-usdt-alpha60: #53ae9499;
  --boros-primitive-colors-asset-usdt-alpha70: #53ae94b3;
  --boros-primitive-colors-asset-usdt-alpha80: #53ae94cc;
  --boros-primitive-colors-asset-usdt-alpha90: #53ae94e6;
  --boros-primitive-colors-asset-usdt-solid: #53ae94;
  --boros-primitive-colors-asset-btc-alpha10: #efb54b1a;
  --boros-primitive-colors-asset-btc-alpha20: #efb54b33;
  --boros-primitive-colors-asset-btc-alpha30: #efb54b4d;
  --boros-primitive-colors-asset-btc-alpha40: #efb54b66;
  --boros-primitive-colors-asset-btc-alpha50: #efb54b80;
  --boros-primitive-colors-asset-btc-alpha60: #efb54b99;
  --boros-primitive-colors-asset-btc-alpha70: #efb54bb3;
  --boros-primitive-colors-asset-btc-alpha80: #efb54bcc;
  --boros-primitive-colors-asset-btc-alpha90: #efb54be6;
  --boros-primitive-colors-asset-btc-alpha100: #efb54b;
  --boros-primitive-colors-asset-eth-alpha10: #dedede1a;
  --boros-primitive-colors-asset-eth-alpha20: #dedede33;
  --boros-primitive-colors-asset-eth-alpha30: #dedede4d;
  --boros-primitive-colors-asset-eth-alpha40: #dedede66;
  --boros-primitive-colors-asset-eth-alpha50: #dedede80;
  --boros-primitive-colors-asset-eth-alpha60: #dedede99;
  --boros-primitive-colors-asset-eth-alpha70: #dededeb3;
  --boros-primitive-colors-asset-eth-alpha80: #dededecc;
  --boros-primitive-colors-asset-eth-alpha90: #dededee6;
  --boros-primitive-colors-asset-eth-solid: #dedede;
  --boros-primitive-colors-asset-blue: #7ab7ff;
  --boros-primitive-colors-asset-blue-alpha40: #7ab7ff66;
  --boros-primitive-colors-asset-blue-alpha25: #7ab7ff40;
  --boros-primitive-colors-asset-orange: #ff9757;
  --boros-primitive-colors-asset-orange-alpha40: #ff975766;
  --boros-primitive-colors-asset-orange-alpha25: #ff975740;
  --boros-primitive-colors-asset-jade: #569f8c;
  --boros-primitive-colors-asset-jade-alpha40: #569f8c66;
  --boros-primitive-colors-indigo-indigo-light: #83b0ff;
  --boros-primitive-colors-indigo-indigo-dark: #4f79c0;
  --boros-primitive-colors-indigo-indigo-background-dim: #83b0ff26;
  --boros-primitive-text-font-weight-100: Thin;
  --boros-primitive-text-font-weight-200: Extra Light;
  --boros-primitive-text-font-weight-300: Light;
  --boros-primitive-text-font-weight-400: Regular;
  --boros-primitive-text-font-weight-500: Medium;
  --boros-primitive-text-font-weight-600: Semi Bold;
  --boros-primitive-text-font-weight-700: Bold;
  --boros-primitive-text-font-weight-800: Extra Bold;
  --boros-primitive-text-font-weight-900: Black;
  --boros-primitive-text-size-xs-caption: 0.625rem;
  --boros-primitive-text-size-sm-default: 0.75rem;
  --boros-primitive-text-size-md: 1rem;
  --boros-primitive-text-size-lg: 1.125rem;
  --boros-primitive-text-size-xl-large-heading: 1.25rem;
  --boros-primitive-text-size-2xl-page-heading: 1.5rem;
  --boros-primitive-text-size-3xl: 2rem;
  --boros-primitive-text-size-4xl: 2.25rem;
  --boros-primitive-text-size-5xl: 3rem;
  --boros-primitive-text-size-6xl: 3.75rem;
  --boros-primitive-text-size-7xl: 4.5rem;
  --boros-primitive-text-size-8xl: 6rem;
  --boros-primitive-text-size-9xl: 8rem;
  --boros-primitive-text-size-base-small-heading: 0.875rem;
  --boros-primitive-text-size-2xs-small-caption-footer: 0.5rem;
  --boros-primitive-radius-rounded-none: 0rem;
  --boros-primitive-radius-rounded-sm-small-labels: 0.125rem;
  --boros-primitive-radius-rounded-md-default: 0.313rem;
  --boros-primitive-radius-rounded-full: 62.438rem;
  --boros-primitive-radius-rounded-lg-large-cards: 0.625rem;
  --boros-primitive-spacing-none: 0rem;
  --boros-primitive-spacing-xs: 0.25rem;
  --boros-primitive-spacing-sm: 0.313rem;
  --boros-primitive-spacing-md: 0.625rem;
  --boros-primitive-spacing-lg: 0.938rem;
  --boros-primitive-spacing-xl: 1.25rem;
  --boros-primitive-spacing-2xl: 1.875rem;
  --boros-primitive-spacing-3xl: 2.5rem;
  --boros-primitive-spacing-4xl: 5rem;
  --boros-primitive-spacing-5xl: 10rem;
  --boros-primitive-spacing-6xl: 80rem;
  --boros-layout-content-max-width: 80rem;
  --boros-border-usdc: #48a0ff;
  --boros-button-text-hover-error: #ffc1c1;
  --boros-button-text-hover-info: #8396ff;
  --boros-tooltip-background: #1b202c;
  --boros-menu-background: #090d1880;
  --boros-data-data-1: #4be7ff;
  --boros-data-data-2: #c0caff;
  --boros-data-data-3: #274bff;
  --boros-data-data-4: #ba60ff;
}
